body {
    font-family: 'Montserrat', sans-serif;
}
.card {
    margin-top: 150px;
    margin-left: 500px;
    width: 50%;
	box-shadow: 0px 10px 15px 0px #838181;
}

.card-body {
    background-color: #0097a1;
} 


h4, p {
    text-align: center;
	margin: 10px 13px 0 12px;
}

.bil{
	width: 350px;
	margin: 10px 0 0 12px;
	border: none;
	font-size: 16x;
	border-radius: 10px;
	padding: 10px;	
	
}

.opt{
	font-size: 16px;
	border: none;
	width: 350px;
	margin: 10px 0 0 12px;
	border-radius: 5px;
	padding: 10px;
}

